profiles {
    uva {
        apptainer.enabled = true
        apptainer.autoMounts = true
        apptainer.cacheDir = params.apptainer_cache_dir
        apptainer.pull = false
        process {
            executor = 'slurm'
            beforeScript = 'module load apptainer'
            queue = params.queue
            cpus = 6
            perCpuMemAllocation = true
            memory = 9.GB
            time = 10.h
            clusterOptions = params.clusterOptions
            resourceLimits = [
                memory: 800.GB,
                cpus: 20,
                time: 100.h
            ]
        }
        withName: ALIGN_FASTQ {
            cpus = 20
        }
    }
}
