profiles {
    uva {
        apptainer.enabled = true
        apptainer.autoMounts = true
        apptainer.cacheDir = params.apptainer_cache_dir
        apptainer.pull = false
        process {
            executor = 'slurm'
            beforeScript = 'module load apptainer'
            queue = params.queue
            cpus = 6
            perCpuMemAllocation = true
            memory = 53.GB
            time = 10.h
            clusterOptions = params.clusterOptions
            resourceLimits = [
                memory: 800.GB,
                cpus: 20,
                time: 100.h
            ]

            withName: extract_fastq {
                time = 24.h
            }
            withName: align_fastq {
                cpus = 20
                memory = 120.GB
            }
            withName: call_small_variants {
                cpus = 20
                memory = 120.GB
                time = 48.h
            }
        }
    }
}
